$primary: #ffb401;

body{
  font-family: 'Roboto',sans-serif!important;
}

.about{
  background: rgb(250, 250, 250);
  padding: 8% 20%;
  flex-direction: row!important;
  height: 600px;
  .underframe{
    position: absolute;
    margin-top:5%;
    height:350px;
    width:300px;
    border:10px solid $primary;
  }
  .about-title{
    font-size:42px;
    color:black;
    font-weight: bold;

  }
  p{
    font-size: 16px;
  }
  Button{
    
    margin-bottom:10%;
  }
  .underline{
    height:5px;
    width: 150px;
    background-color: $primary;
  }
  .overframe{
    
    position: absolute;
    margin-top:-5%;
    margin-left:3%;
    height:350px;
    width:300px;
    border:10px solid white;
    background-repeat: no-repeat;
    object-fit: cover;
    box-shadow: 0px 0px 40px #ddd;
  }
}

.welcome {
  .welcome-inner{
    text-align: center!important;
  }
  img{
    width:60%;
    height:60%;
    margin-left: 10%;
    border-radius: 100%;
    border:5px solid #dddd;
  }
  padding: 0% 20%;
  align-items: center;
  height: 750px;
  h1 {
    color: $primary;
    font-size: 60px;
    font-weight: 500;
    margin:0% auto;
  }
  h2{
    font-size:25px;
    line-height: 1em;
    color:#555;
    margin:5% auto;
  }
  Button {
    font-size: 20px;
    padding: 15px 45px;
    color: white;

    &:hover {
      color: white;
    }
  }

}
.nav{
  flex-direction: column;
}
.filler{
  display:flex;
 
}
.nav-bar {

  justify-self: stretch;
  background: #EEEEEE;
  display: flex;
  flex-direction: column;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #EEEEEE;
    a{
      text-decoration: none;
      color:black;
    }
    li{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding:25px 25px;
      border-bottom:1px solid white;
      &:hover{
        background-color: #e5e5e5;
      }
    }
    li:first-child{
      background:#F28C20;
      color:white;
      a{
        color:white;
      }
    }
  }
}
.dashboard{
  
  min-height: 100vh;
  display:flex;
  flex-direction: row;
  .card{
    margin:1%;
    padding:2% 20%;
    flex:1;
    .cardTitle{
      font-size: 50px;
      padding-bottom: 2%;
    }
  }
}
